
nav {
    display: none;
}

.nav-container {
    height: 10vh;
  
    .mobile-menu {
        fill: $bg-very-light;
        cursor: pointer;
        float: right;
        margin: 2.4rem 1.6rem 0 0;
        &:hover {
            fill: $font-col;
        }
    }

    nav.menu-btn {
        display: block;
    }

    nav {
        position: fixed;
        z-index: 999;
        width: 66%;
        min-width: 25rem;
        right: 0;
        top: 0;
        background-color: #255372;
        height: 100vh;
        animation: navig .5s ease alternate;

        .mobile-menu-exit {
            float: right;
            margin-top: 2.4rem;
            margin-right: 1.6rem;
            cursor: pointer;
            color: $bg-very-light;
            &:hover {
                color: $font-col;
                transform: scale(1.2);
            }
        }

        .nav-list {
            height: 60%;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            font-size: 2rem;
        
            li  {
                display: block;
                padding-bottom: 5rem;

                .current {
                    color: $font-col;
                    font-weight: bold;
                }
            
                a:hover {
                    font-weight: bold;
                }

                &:last-child {
                    margin-bottom: 0;
                }
                
            }
        }

        .nav-box {
            width: 100%;
            position: absolute;
            bottom: 32px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #2e6081;
            padding: 1rem 0;
        
            h4 {
              font-size: 1.8rem;
              font-weight: 400;
              color: $bg-very-light;
              padding-bottom: 2rem;
              width: 70%;
              text-align: center;
            }
        
            .icons {
                width: 100%;
                @include flexy;
                flex-direction: row;
                flex-wrap: wrap;
              a {
                margin-right: 2rem;
        
                &:last-child {
                  margin-right: 0;
                }
        
                img:hover {
                  transform: scale(.98);
                }
              }
            }
        }
    }
}


@keyframes navig {
    0% {
        opacity: 20%;
        right: -80%
    
    }

    100% {
        opacity: 100%;
        right: 0%;
        
    }
}

@media only screen and (min-width: 768px) {

        
.nav-container {
  
    .mobile-menu {
        margin: 3rem 3rem 0 0;
    }

    nav {

        .mobile-menu-exit {
            margin-top: 3rem;
            margin-right: 3rem;
        }

        .nav-list {
            font-size: 3.2rem;
        
            li  {
                padding-bottom: 7.4rem;
            }
        }

        .nav-box {
            padding: 3rem 0;
            h4 {
                padding-bottom: 3rem;
            }

            .icons {
                a {
                    margin-right: 3rem;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

}

@media only screen and (min-width: 1080px) {

    .nav-container {
        
        .mobile-menu, .mobile-menu-exit {
            display: none;
        }

        nav {
            display: block;
            position: relative;
            background-color: unset;
            height: auto;
            width: 100%;
            animation: none;
            padding: 3rem 4rem 0 0;

            .nav-box {
                display: none;
            }

            .nav-list {
                flex-direction: row;
                justify-content: flex-end;
                font-size: 2.4rem;
                
                li {
                    margin: 0 0 0 4.8rem;
                }
            }
        }
    }
}